<div ng-include="'partials/navbar'"></div>


<form class="form-horizontal" role="form">
  <div class="form-group">
    <label for="inputText" class="col-sm-2 control-label">Description</label>
    <div class="col-sm-10">
      <textarea class="form-control" rows="3" placeholder="Description"></textarea>
    </div>
  </div>

  <div class="form-group">
    <label for="receiptDate" class="col-sm-2 control-label">Date</label>
    <div class="col-sm-10">
      <quick-datepicker name='receiptDate' ng-model='myDate' disable-timepicker='true' date-format='EEEE, dd MMM, yyyy' required></quick-datepicker>
    </div>
  </div>

  <div class="form-group">
    <label for="selectCurrency" class="col-sm-2 control-label">Currency</label>
   <div class="col-sm-10">
      <select data-ng-options="o.name + ' (' + o.code  + ')' for o in currencyCodes" data-ng-model="currency" placeholder="Currency">
         <option value="" selected>--Please select your currency--</option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <label for="inputAmount" class="col-sm-2 control-label">Amount</label>
    <div class="col-sm-10">
      <input class="form-control" rows="3" placeholder="Amount"></input>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
          <input type="checkbox"> Remember me
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Save</button>
    </div>
  </div>

</form>


<div class="footer">
  <p>Splat Technology 2014</p>
</div>
